In [ ]:
import pandas as pd
import polars as pl

:

### Pandas

In [154]:
data_list_pd =[[1,"Alice"] ,[2, "bob"],[3,"Charlie"]]

In [155]:
pd.DataFrame(data_list_pd)

   0        1
0  1    Alice
1  2      bob
2  3  Charlie

In [156]:
pd.DataFrame(data_list_pd,columns=["ID", "Name"])

   ID     Name
0   1    Alice
1   2      bob
2   3  Charlie

In [157]:
data_pd_list = pd.DataFrame(data_list_pd,columns=["ID", "Name"])
data_pd_list

   ID     Name
0   1    Alice
1   2      bob
2   3  Charlie

## POLARS

In [158]:
data_pl_list = pl.DataFrame(data_list_pd,schema=["ID", "Name"])
data_pl_list

C:\Users\NITESH-DK\AppData\Local\Temp\ipykernel_9276\167396237.py:1: DataOrientationWarning: Row orientation inferred during DataFrame construction. Explicitly specify the orientation by passing `orient="row"` to silence this warning.
  data_pl_list = pl.DataFrame(data_list_pd,schema=["ID", "Name"])

shape: (3, 2)
┌─────┬─────────┐
│ ID  ┆ Name    │
│ --- ┆ ---     │
│ i64 ┆ str     │
╞═════╪═════════╡
│ 1   ┆ Alice   │
│ 2   ┆ bob     │
│ 3   ┆ Charlie │
└─────┴─────────┘

## Reading External data/files using pandas and polars

In [159]:
pd_csv_load = pd.read_csv("students_marks.csv")

In [160]:
pd_csv_load

  Student Name  Marks  DIV
0         John     85   12
1        Alice     90   12
2          Bob     78   11
3         Sara     92   13
4          Tom     33   14

In [161]:
pl_csv_load = pl.read_csv("students_marks.csv")

In [162]:
pl_csv_load

shape: (5, 3)
┌──────────────┬───────┬─────┐
│ Student Name ┆ Marks ┆ DIV │
│ ---          ┆ ---   ┆ --- │
│ str          ┆ i64   ┆ i64 │
╞══════════════╪═══════╪═════╡
│ John         ┆ 85    ┆ 12  │
│ Alice        ┆ 90    ┆ 12  │
│ Bob          ┆ 78    ┆ 11  │
│ Sara         ┆ 92    ┆ 13  │
│ Tom          ┆ 33    ┆ 14  │
└──────────────┴───────┴─────┘

In [163]:
pl_csv_load = pl.read_csv("contacts.csv")

FileNotFoundError: The system cannot find the file specified. (os error 2): contacts.csv

In [ ]:
pl_csv_load

In [ ]:
pl_csv_load.head() # by deafult it will provide first 5 data from starting 
pl_csv_load.head(4)

In [ ]:
pd_csv_load = pd.read_csv("contacts.csv")
pd_csv_load

In [ ]:
pd_csv_load.head(3)

## to get data from end

In [ ]:
pl_csv_load.tail()

In [ ]:
pd_csv_load.tail()

In [ ]:
pd_csv_load.describe()

In [ ]:
pd_csv_load.info()

In [ ]:
# pd_csv_load.info(verbose=True) ## by deafult True
pd_csv_load.info(verbose=False)

#### loc & iloc

In [ ]:
# pd_csv_load.loc[0] # to acces the individual data here we are accesing the first data
pd_csv_load.loc[3] # loc will use what is explicitly written here

In [ ]:
pd_csv_load.iloc[3] # iloc will use the order the index of index

In [ ]:
pl_csv_load.describe()

In [ ]:
pd_csv_load.shape

In [ ]:
pl_csv_load.schema

In [ ]:
pl_csv_load.shape

##Description:

In this exercise, we will be using Pandas, a powerful library in Python for data manipulation and analysis. We will load a dataset, inspect its structure, and get some basic information about the data. This will help you get comfortable with some fundamental Pandas operations which are essential in data science projects.

## 1. Dataset Loading:

- Use Pandas to load the dataset from the provided URL.
- Display the first 5 rows of the dataset to get a feel of the data structure.

TIP: You can use read_csv to load data directly from URL :)


import pandas as pd

# Dataset URL
url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/airline-passengers.csv'

## 2. Basic Information:

- Use the info() method to get a summary of the dataset.
- This will provide information about the data types and number of non-null entries in each column.



## 3. Descriptive Statistics:

- Use the describe() method to get descriptive statistics of the dataset.
- This will provide measures such as count, mean, standard deviation, minimum, and maximum values for each column.



## 4. Column Inspection:

- Select a single column from the dataset and display its first 10 values.

- Additionally, use the value_counts() method to see the frequency of unique values in the selected column.





## 5. Missing Values:

- Check for missing values in the dataset using the isnull() method along with the sum() method.

In [2]:
import pandas as pd

In [3]:
url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/airline-passengers.csv'

In [5]:
data = pd.read_csv(url)

In [ ]:
data.head()

In [ ]:
data.info()

In [ ]:
data.describe()

In [ ]:
data['Passengers'][:10]

In [ ]:
pd.value_counts(data['Passengers'])

In [ ]:
# data.isnull()

data.isnull().sum()

## DATA FRAMES -- Series

In [30]:
simple_list = [1,2,3,43,4,5]

In [21]:
s_pandas = pd.Series(simple_list)

In [ ]:
s_pandas

In [ ]:
type(s_pandas)

# POLARS

In [32]:
s_polars = pl.Series("example_series",simple_list)

In [ ]:
s_polars

In [ ]:
s_polars[0]

In [ ]:
s_pandas[1:4]

In [ ]:
s_polars[0]

In [ ]:
s_polars[1:4]
s_polars.slice(1,3)

## Accessing data attributes

In [ ]:
s_pandas.dtype

In [ ]:
s_pandas.shape

In [44]:
s_pandas.name

In [ ]:
s_polars.dtype

In [ ]:
s_polars.len()

In [ ]:
type(s_polars)

In [ ]:
s_polars.name

In [ ]:
s_polars.sum()

In [ ]:
s_polars.unique() ## no duplicate stuff

In [ ]:
s_polars.mean()

In [ ]:
s_polars.std()

# DataFrame Operations

In [73]:
pd_sales = pd.read_csv('dummy_sales_data.csv')

In [72]:
pl_sales = pl.read_csv('dummy_sales_data.csv')

In [ ]:
pd_sales

In [ ]:
pd_sales.set_index('Employee ID')

In [ ]:
pd_sales ## in pandas and polars in many case if you method on your data if does not affect the real data that is no change in the data

In [74]:
pd_sales.set_index('Employee ID',inplace=True) ## now the data is  index by employee ID

In [ ]:
pd_sales.head()

In [82]:
# pd_sales.reset_index() # again the index is changes to deafult

In [ ]:
pd_sales.loc[101]

In [ ]:
pd_sales.iloc[2] ## iloc only work with index

#### IF you want to change the index of the data use pandas only , beause if we use polars itd very difficult than pandas

In [87]:
#pl.from_pandas(df.to_pandas().set_index("key"))

In [ ]:
pd_sales[0:2]

In [ ]:
pd_sales["Total Sales"]

In [ ]:
type(pd_sales["Total Sales"])

In [ ]:
pd_sales[["Total Sales"]] ## series

In [ ]:
type(pd_sales[["Total Sales"]]) ## data frame

In [ ]:
pd_sales[["Total Sales" , "Base Salary"]]

In [ ]:
pl_sales.select(["Total Sales","Base Salary"])

In [ ]:
pd_sales[pd_sales["Total Sales"] > 31100]

In [ ]:
pd_sales[pd_sales["Total Sales"] > 31100].shape

In [ ]:
pl_sales.filter(pl_sales["Total Sales"] > 31100)

In [ ]:
pl_sales.filter(pl_sales["Total Sales"] > 31100).shape

In [ ]:
pd_sales[(pd_sales["Total Sales"] > 31100)& (pd_sales["Base Salary"] > 50000)]

In [ ]:
pd_sales[(pd_sales["Total Sales"] > 31100)| (pd_sales["Base Salary"] > 50000)]

# Dealing With Missing Data

In [2]:
import pandas as pd
import polars as pl

In [3]:
sales_data_pd = pd.read_csv("dummy_sales_data.csv")
sales_data_pl = pl.read_csv("dummy_sales_data.csv")

In [15]:
pd_pandas_na = pd.DataFrame({"A":[1,2,None], "B":[4,None,6]})
pl_polars_na = pl.DataFrame({"A":[1,2,None], "B":[4,None,6]})

In [ ]:
pd_pandas_na # jisme NaN data hai vo delte ho jayega

In [ ]:
pd_pandas_na.dropna()

In [ ]:
pl_polars_na.drop_nulls()

#### Filling the missing info

In [19]:
pd_filled_na = pd_pandas_na.fillna(0) #jaha par NaN ya None hai yuske jagah pe abb zero ho jayega

In [ ]:
pd_filled_na

In [ ]:
pl_polars_na.fill_null(0) # fill the missing data with 0

In [ ]:
pl_polars_na.fill_nan(0) # fill the missing data with Null

In [27]:
pl_pandas_inter = pd_pandas_na.interpolate() # fill the missing information with mean or if it is last then the last value is copied

In [28]:
# There is no method like interpolate in polars so you need to first convert polar in to pandas then perform the operation then come again in polars

# Map and Transform Using Pandas

In [ ]:
sales_data_pd

In [30]:
def double_val(x):
    return x *2

In [32]:
# sales_data_pd['Base Salary'].map(lambda x:x*2)

In [ ]:
sales_data_pd['Base Salary'].map(double_val)

In [ ]:
sales_data_pd.apply(double_val) # it will double every thing like name commission

## Pandas do not have this kind of flexibility

In [ ]:
sales_data_pd.apply(double_val,axis=1)

In [ ]:
sales_data_pd.transform(lambda x : x*2)

### Merging and Joining using pandas

In [ ]:
pd_pandas_na

In [57]:
df1 = pd.DataFrame({"key":["A","B","C"], "value":[1,2,3]})
df2 = pd.DataFrame({"key":["A","B","C"], "value":[4,5,6]})

In [ ]:
df1

In [ ]:
df2

In [ ]:
pd.merge(df1,df2,on="key",how="inner") # inner dono me jitane columns hai yusme merge kar dega

In [55]:
df1 = pd.DataFrame({"key":["A","B"], "value":[1,2]})
df2 = pd.DataFrame({"key":["A","B","C"], "value":[4,5,6]})

In [ ]:
pd.merge(df1,df2,on="key",how="inner")

In [ ]:
pd.merge(df1,df2,on="key",how="left") # left wale data ke key ke hisab se hi merge karega

In [ ]:
pd.merge(df1,df2,on="key",how="right") # right wale key ke hisab se data merger karega with agar koi empty value hogi to yusko nana  pass kar dega

In [ ]:
pd.merge(df1,df2,on="key",how="outer") # if will include every thing

In [ ]:
df1.set_index("key").join(df2.set_index("key"), how="inner", lsuffix='_df1', rsuffix='_df2')

In [ ]:
pd.concat([df1 ,df2],axis=0)

In [ ]:
pd.concat([df1 ,df2],axis=1) # 0 in vertical axis , 1 in horizontal

## Excerise 2

# Description:
In this exercise, you will get hands-on experience with various data manipulation techniques using the Pandas library. Through practical tasks, you will learn how to handle missing values, transform data, and merge datasets. This exercise is designed to reinforce your understanding and ability to apply Pandas methods in data analysis tasks.

In [66]:
import pandas as pd

# Dataset URL
url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/horse-colic.csv'

# Load the dataset
data = pd.read_csv(url, header=None, na_values='?')

### Handling Missing Values:

- Load the dataset and identify any missing values in it.

- Use appropriate methods to fill missing values or remove rows/columns with missing values.

In [ ]:
data.isnull().sum()

In [74]:
data=data.fillna(data.mean())

In [ ]:
data.head()

In [ ]:
data.isnull().sum()

### Transforming Data:
- Create a new column which is a transformation of an existing column.
- Use the map() and apply() methods to perform transformations.

In [78]:
data['column_adjusted'] = data[3].map(lambda x:x* 1.1)

In [79]:
data["mean_row"]=data.apply(lambda row: row.mean(), axis=1)

In [ ]:
data

## Strings

In [85]:
sales_data = pd.read_csv("dummy_sales_data.csv")

In [ ]:
sales_data

In [ ]:
# sales_data["Employee ID"] = sales_data["Employee ID"].astype(str)
sales_data["Month"].str.lower()

In [ ]:
sales_data["Month"].str.lower().str.contains("j") # the month that is only started with j

In [ ]:
sales_data["Month"].str.lower().str.replace("j","K")

In [ ]:
sales_data["Month"].str.lower().str.slice(0,2)

In [ ]:
sales_data["Month"].str.lower().str.find("j") # stacking method like ste.method.ste.method

In [ ]:
sales_data["Month"].str.find("j").str.lower()  # here you will get error becuase the find method just return index or -1 and we cannot do ste.lower() on this numbers

### Sales Data Visualization

In [112]:
import pandas as pd
data_sales = pd.read_csv("dummy_sales_data.csv")

In [ ]:
import matplotlib.pyplot as plt
sales_data.plot(x="Month",y="Bonus" , kind="bar")
plt.show()  # Optional, but recommended to display the plot in some environments

In [ ]:
sales_data.groupby(by="Employee ID").plot(x="Month",y="Bonus" , kind="bar")
plt.show()

In [ ]:
sales_data.plot(x="Month",y="Bonus",kind='line')

In [123]:
### Excerise 3

# Description:
In this project, you will apply the skills you have learned in data manipulation, string operations, and data visualization using the Pandas and Matplotlib libraries. You will work on a dataset to clean, transform and visualize data to derive insights. The project will allow you to showcase your ability to handle real-world data analysis tasks.

### Dataset Loading:
- Load the provided dataset using Pandas.
- Inspect the first few rows to understand the structure of the data.

In [141]:
import pandas as pd

# Dataset URL
url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/airline-passengers.csv'

data = pd.read_csv(url)

### String Operations:
- Suppose the dataset contains a column with string values. Perform string operations to clean or transform this column.
- You can use string methods like str.split(), str.replace(), etc.

In [ ]:
data

In [147]:
data["Year"] = data["Month"].str.split("-").str[0]
data["Month"] = data["Month"].str.split("-").str[1]

In [ ]:
data

In [ ]:
data.describe()

### Handling Missing Values:
- Identify and handle any missing values in the dataset.

In [ ]:
data.isnull().sum()

### Data Transformation:
- Create a new column by applying a function to an existing column.

In [151]:
# create a new column "Adjusted_Paggengers" by apply a fucntion
data["Adjusted_Passengers"] = data['Passengers'].apply(lambda x:x*0.5)

In [2]:
a = 10

10